/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Cairo', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cairo', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
header .logo {
  width: 20%;
}
@media (max-width: 800px) {
  header .logo {
    width: 30%;
  }
}
header nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 800px) {
  header nav {
    width: 70%;
  }
}
header nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 30px;
}
@media (max-width: 800px) {
  header nav a {
    font-size: 20px;
  }
}
button {
  border: solid 1px white;
  background-color: #fd9827;
  width: 125px;
  height: 40px;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  button {
    width: 100px;
    height: 30px;
    font-size: 20px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
footer .logo {
  width: 20%;
}
@media (max-width: 800px) {
  footer .logo {
    width: 30%;
  }
}
footer nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 800px) {
  footer nav {
    width: 70%;
  }
}
footer nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 30px;
}
@media (max-width: 800px) {
  footer nav a {
    font-size: 20px;
  }
}
body {
  background-color: black;
}
body P {
  color: white;
  font-size: 30px;
}
h1 {
  font-size: 150px;
  text-align: center;
  color: #fd9827;
}
@media (max-width: 800px) {
  h1 {
    font-size: 100px;
  }
}
h2 {
  font-size: 80px;
  text-align: center;
  color: #fd9827;
}
@media (max-width: 800px) {
  h2 {
    font-size: 75px;
  }
}
p {
  font-size: 50px;
  text-align: center;
  color: #fd9827;
}
@media (max-width: 800px) {
  p {
    font-size: 45px;
  }
}
.set-of-pics {
  display: flex;
  justify-content: center;
}
.set-of-pics .c-pic1 {
  width: 33%;
}
.set-of-pics .c-pic2 {
  width: 33%;
}
.set-of-pics .c-pic3 {
  width: 33%;
}
@media (max-width: 800px) {
  .set-of-pics .c-pic1 {
    width: 50%;
  }
  .set-of-pics .c-pic2 {
    width: 50%;
  }
  .set-of-pics .c-pic3 {
    display: none;
  }
}
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  justify-content: space-evenly;
  width: 100%;
}
.team-container p {
  font-size: 50px;
  color: #fd9827;
}
.team-container a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.team-container .team-lead {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.team-container .program-con {
  display: flex;
}
.team-container .marketing-con {
  display: flex;
}
.team-container .img {
  padding: 30px;
}
.team-container .img img {
  border-radius: 50%;
}
.copyright {
  display: flex;
  justify-content: center;
}
.copyright .cr {
  width: 50%;
  font-size: 20px;
}
.copyright .cr a {
  text-decoration: none;
  color: white;
}
