body{
    background-color: black;
    
    .top {

        h1 {
            color: white;
            display: flex;
            align-items: center;
        }
        
        P{
            color: white;
        }
    }
}