body{
    background-color: black;

        
    P{
        color: @secondary-color;
        font-size: 30px;
    }    
}

h1 {
    font-size: 150px;
    text-align: center;
    color: @primary-color;

    @media @tablet {
        font-size: 100px;
    }
}

h2 {
    font-size: 80px;
    text-align: center;
    color: @primary-color;

    @media @tablet {
        font-size: 75px;
    }
}
p{
    font-size: 50px;
    text-align: center;
    color: @primary-color;

    @media @tablet {
        font-size: 45px;
    }
}

.set-of-pics {
    display: flex;
    justify-content: center;

    .c-pic1 {
        width: 33%;
    }

    .c-pic2 {
        width: 33%;
    }

    .c-pic3 {
        width: 33%;
    }

    @media @tablet {
        .c-pic1 {
            width: 50%;
        }

        .c-pic2 {
            width: 50%;
        }

            .c-pic3 {
                display: none;
            }
        }
        
}

.team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    justify-content: space-evenly;
    width: 100%;
    p {
        font-size: 50px;
        color: @primary-color;
    }

    a {
        font-size: 30px;
        color: @secondary-color;
        text-decoration: none;
    }

    .team-lead {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .program-con {

        display: flex;

    }

    .marketing-con {
        display: flex;
    }

    .img {
        padding: 30px;
        img{
            border-radius: 50%;
        }
    }


}

.copyright {
    display: flex;
    justify-content: center;

    .cr {
        width: 50%;
        font-size: 20px;
        a {
            text-decoration: none;
            color: @secondary-color;
        }
    }
}