body{
    background-color: black;
    
    .top {

        h1 {
            color: white;
        }
        
        P{
            color: white;
        }
    }
}


.set-of-pics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 475px;
    img{
        height: 100%;
    }

}
