// Mixins in here
.btn (@bg, @w, @h, @fs,  @ml) {
    background-color: @primary-color;
    width: @w;
    height: @h;
    font-size: @fs;
    display: flex;
    justify-content: space-evenly;
    margin-left: @ml;

}

