
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    .logo {
        width: 20%;

        @media @tablet {
            width: 30%;
        }
    }
    
    nav {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        @media @tablet {
            width: 70%;
        }


        
    a{
        text-decoration: none;
        color: white;
        font-size: 30px;
        margin-left: 30px;

        @media @tablet {
            font-size: 20px;

        }
    }   
    }
    
}

button {
    border: solid 1px white;
    background-color: #fd9827;
    width: 125px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;

    @media @tablet {
        width: 100px;
        height: 30px;
        font-size: 20px;
    }
}
